# Ignore everything by default
*

# But keep these tracked files/folders for the submission
!.gitignore
!README.md
!Makefile
!scanner.l
!parser.y
!semantic.c

!ast/
!ast/**

!parser_tests/
!parser_tests/**

!semantic_analysis_tests
!semantic_analysis_tests/**/

!LLVM_IR_Builder/
